*{

    font-family: 'Poppins', sans-serif;
}

#Profile{
    width:300px;
    border-radius: 50%;

}
.picture{
    margin-top: 100px;
    float: left;
    width: 50%;
}
.aside1{
    margin-top: 70px;
    width:50%;
    float: right;
    padding-left: 20px;
    font-size: medium;
}
.aside1 p{
    margin-left: 1em;
}
.aside1 h1{
    margin-left: 0.5em;
}
#logo{
    width: 50px;
    border-radius: 50%;
}
.section2{
    margin-top: 300px;

}
.row{
    margin-top: 20px;
    justify-content: space-around;
    margin-bottom: 100px ;
}
/* #about {
     margin-bottom: 100px; 

} */
.h1{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    
}
#forImg{
    margin-top: 20px;
    margin-left: 50px;
    font-weight: 300;
}
footer{
    background-color: black;
    color: white;
    height: 60px;
    align-items: end;
    font-weight: 300;
    font-size:small;
}
#contact{
    
    background: radial-gradient(rgb(214, 211, 211),white);
    text-align: center;
    height: 300px;
    padding: 70px;
    justify-content: space-between;
}
#contact h1{
    margin-bottom: 50px;
}
#contact a{
    padding-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.card:hover{
    box-shadow: rgba(94, 92, 92, 0.35) 0px 5px 15px;
   transform: scale(1.1);
}
.label{
    padding:70px;
}
.label:hover{
    color: grey;
}
#myChart{
    font-size: large;
    font-weight: bold;
}
#download{
    font-weight: bold;
}
@media screen and (max-width:800px) {
    .about-sec{
       display: block;
    }
    .aside1 h1{
        display: none;
    }
    
    .aside1{
        /* float: none; */
        font-size: xx-large;
        /* text-align: center; */
        display: block;
        width: 100%;
        
    }
   
    #Profile{
        width:180%;
        border-radius: 50%;
        margin-left: 1.2em;
    
    }
    #forImg{
        /* margin-top: 20px;
        margin-left: 50px; */
        font-weight: 300;
        text-align: center;
        width: 170%;
        font-size: xxx-large;
    }
    .col-4, .card {
        width: 100% !important;
        height: 430px !important;
        margin-top: 1.5em;
    }
    .card img{
        height: 350px !important;
    }
    #contacts a{
     width: 100% !important

    }
    footer{
        text-align: center;
    }
    .card-text{
        font-size: x-large;
    }
    h1{
        font-size: xx-large;
    }
}